@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #332940;
}

h3.gameInfo {
  color: #ffb6c1;
}

/* Create two unequal columns that floats next to each other */
.infocolumn {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.inforow:after {
  content: "";
  display: table;
  clear: both;
}

.infotable{
  padding-top: 5%;
  margin-top: 4%;
}

.infotableheading {
  width: 15%;
  font-size: 20px;
  border-bottom: 3px solid #1F1B24;
}

.closeInfo {
  color:#BB86FC;
  cursor: pointer;
  width: 50px;
}

.info {
  color: #ffb6c1;
  border-bottom: 3px solid #1F1B24;
}

.header {
  background-color: #1F1B24;
  padding-top: 10px;
  padding-bottom: 0;
}

.gameSearchBar {
  margin-top: 0px;
  width: 80%;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: #6D6D6D;
  float: left;
}

th {
  font-size: 20px;
}

.pink-heading {
  color: #BB86FC;
}

.gameList-heading {
  margin-left: 20px;
  margin-top: 10px;
}

p {
  font-size: 25px;
}

.table {
  font-size: 12px;
  color: #BB86FC;
  background-color:#383838; 
  text-align: center;
}

.table td{
  padding: 7px;
  color: #ffb6c1;
  
}

.table th {
  padding: 7px;
  
} 

.gameArea {
  display: table;
}

.currentGame {
  display:table-cell;
  vertical-align: middle;
  margin-bottom: 5%;
  background-color: #383838; 
}

.game-list {
  display:table-cell;
  vertical-align: middle;
  background-color: #383838; 
  overflow-x: hidden;
  height: 100%;
}

.game-list button {
  border: none;
  background-color: #F5F5F5;
}


.game-list > .table {
  cursor: pointer;
}

.game-list-close {
  width: 60px;
}

.character-area {
  background-color: #383838; ;
  margin-top: 20px;
  padding: 30px;
}

.characterTable {
  cursor: pointer;
}

.buttonArea {
  background-color: #1F1B24;
  padding-top: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.appButton {
  margin-right: 20px;
  width: 100px;
  border-color: #BB86FC;
  background-color: #1F1B24;
  color: #BB86FC;
}

.buttonContainer {
  padding-left: 10%;
  padding-bottom: 10px;
}

td {
  font-size: 15px;
}

.gamerow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.gamecolumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.shareIcons {
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.footer {
  background-color: #1F1B24;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-heading {
  margin-top: 20px;
}

.my-facebook-button-class {
  background-color: #3b5998;
  color: white;
  margin-left: 10px;
  border-color: #3b5998;
}

