@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #332940;
}

.header {
  background-color: #1F1B24;
  padding-top: 10px;
  padding-bottom: 1%;
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: #6D6D6D;
  float: left;
}

th {
  font-size: 20px;
}

.pink-heading {
  color: #BB86FC;
}

.gameList-heading {
  margin-left: 20px;
  margin-top: 10px;
}

p {
  font-size: 25px;
}

.table {
  font-size: 12px;
  color: #BB86FC;
  background-color:#383838; 
  text-align: center;
}

.table td{
  padding: 7px;
  color: #C71585;
  
}

.table th {
  padding: 7px;
  
} 

.game-list {
  background-color: #383838; ;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
}

.game-list button {
  border: none;
  background-color: #F5F5F5;
}

.game-list > .table {
  cursor: pointer;
}

.game-list-close {
  width: 60px;
}

.character-area {
  background-color: #383838; ;
  margin-top: 20px;
  padding: 30px;
}

.characterTable {
  cursor: pointer;
}

.headerButtonsContainer {
  margin-left: 1%;
}

.headerButton {
  margin-right: 20px;
}